<div class="container">
  <div class="row">
    <div id="solution-code-one" class="col s6 vote" >
    <% if current_user == nil %>
     <%= image_tag 'shield.png', id: "shield" %>
    <% else %>
      <%= CodeRay.scan(@solutions.first[:content], :ruby).div.html_safe %>
      <%= button_to 'Vote', "", id: 'solution-one', class: 'btn waves-effect waves-light', data: { winner: "#{@solutions.first[:id]}", loser: "#{@solutions.second[:id]}" } %>
    </div>

    <div id="solution-code-two" class="col s6 vote" >
      <%= CodeRay.scan(@solutions.second[:content], :ruby).div.html_safe %>
      <%= button_to 'Vote', "", id: 'solution-two', class: 'btn waves-effect waves-light', selected_id: "#{@solutions.second[:id]}", second_id: "#{@solutions.first[:id]}" %>
    </div>
  </div>

    <div>
      <%= text_field(:comment, :post, placeholder: "Leave a comment to vote ", id: "comment") %>
    </div>
    <% end %>

</div>
